*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

header{
    height:25vh;
    width: 100vw;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url(fondneptune.jpg);
    background-size: cover;
}

.navbar{
    position:absolute;
    padding:40px;
    display:flex;
    justify-content: center;
    width:100%;
    background:linear-gradient( rgb(221, 255, 255),rgb(230,255,255),rgb(235,255,255));
    box-sizing: border-box;

}
.navbar a {
    color:black;
}

.navbar .lien-nav ul{
    display: flex;
}

.navbar .lien-nav ul li{
    margin:0 30px;
    font-weight: bold;
}
.navbar .lien-nav ul li.select a{
    color:blue;
    display:flex;
    padding-bottom:3px;
    border-bottom:solid 3px ;
    border-color: blue;
}
#center{
    justify-content: center;
}