*,
*::before,
::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(fondneptune.jpg);
    background-size: cover;
}
header {
    height: 25vh;
    width: 100vw;
}

.navbar {
    position: absolute;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(rgb(221, 255, 255), rgb(230, 255, 255), rgb(235, 255, 255));
    box-sizing: border-box;
}

#lien-droite{
    padding-right: 120px;
}

.navbar a {
    color: black;
    font-size: 18px;
}

.navbar .lien-nav ul {
    display: flex;
}

.navbar .lien-nav ul li {
    display: flex;
    margin: 0 30px;
    font-weight: bold;
}

.navbar .lien-nav ul li.select a {
    color: blue;
    display: flex;
    padding-bottom: 3px;
    border-bottom: solid 3px;
    border-color: blue;
}

.nav-logo {
    display: flex;
    flex-direction: row;
}

#neptuneicone {
    display: flex;
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

#textlogo {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    color: blue;
    align-items: center;
    border-bottom: solid 3px;
    border-color: blue;
}

.nav-menu ul li {
    display: flex;
    font-weight: bold;
    color: black;
}

.nav-menu ul li:hover * {
    color: blue;
}

.nav-menu ul li a:hover {
    color: blue;
}

.nav-menu ul li ul {
    display: none;
}

.nav-menu ul li:hover ul {
    display: block; 
    position: absolute; 
    margin-top: 20px; 
}

.nav-menu ul li ul li {
    display:block;
    background-color:rgb(235, 255, 255) ;
    font-weight: normal;
    color: black;
    padding: 5px; 
    padding-right: 20px;
}

.nav-menu ul li ul li:hover {
    background-color: rgb(130, 186, 238);
    transition: 0.75s;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 30px 0;
}

.text-center {
    text-align: center;
}
