* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {

    height: 100vh;
    width: 100%;
    background-color: rgb(39, 39, 39);

}

.navbar .lien-nav ul li:nth-child(2) a {
    display: flex;
    color: blue;
    border-bottom: solid 3px blue;
    border-top: solid 3px transparent;
}

.box {
    display: flex;
    border: solid 0.5px;
    border-color: rgb(68, 68, 68);
    border-radius: 8px;
    padding: 10px;
    background: linear-gradient(rgb(221, 255, 255), rgb(230, 255, 255), rgb(235, 255, 255));
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}


.nav-menu ul {
    list-style: none;
    padding: 0;
}

.nav-menu ul li {
    position: relative;
    display: flex; 
    font-weight: bold;
    color: black;
}

.nav-menu ul li:hover * {
    color: blue;
}

.nav-menu ul li ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}

.nav-menu ul li:hover ul {
    display: block; /* Afficher le menu déroulant au survol */
    margin-top: 0;
    margin-left: 20px;
}

.nav-menu ul li ul li {
    display: block;
    background-color: rgb(235, 255, 255);
    font-weight: normal;
    color: black;
    padding: 5px;
    padding-right: 1px;
}

.nav-menu ul li ul li:hover:not(:nth-child(1)) {
    background-color: rgb(154, 206, 255);
    transition: 0.75s;
}
