*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(fondneptune.jpg);
    background-size: cover;
}



.lien-nav ul li:nth-child(2) {
    color: blue;
    display: flex;
    padding-bottom: 3px;
    border-bottom: solid 3px;
    border-color: blue;
    transition: 0.3s;
}