*,
*::before,
::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
}


header {
    max-height: 25vh;
    /*position: fixed; *//*sa suit le scroll */
    top: 0;
    width: 100%; 
    z-index: 1000; /*sert a choisir la prioriter de placement */
}

.navbar {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: none;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: rgba(238, 229, 238, 0.692);
    backdrop-filter: blur(10px);/*ça rend flou*/
}

#lien-droite {
    margin-right: 120px;
}

.navbar a {
    color: black;
    font-size: 18px;
}

.navbar .lien-nav ul {
    display: flex;
    align-items: center;
}

.navbar .lien-nav ul li {
    display: flex;
    margin: 0 30px;
    font-weight: bold;
}

.navbar .lien-nav ul li a {
    color: black;
    transition: 0.1s;
}

.navbar .lien-nav ul li:hover a {
    color: rgb(5, 0, 137);
    border-bottom:solid 3px rgb(5, 0, 137);
}

.nav-logo {
    display: flex;
    flex-direction: row;
}

#neptuneicone {
    display: flex;
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

#textlogo {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    color: blue;
    align-items: center;
    border-bottom: solid 3px;
    border-color: blue;
}


.nav-menu ul li {
    display: flex;
    font-weight: bold;
    color: black;
}

.nav-menu ul li:hover * {
    color: blue;
}

.nav-menu ul li ul {
    display: none;
}

.nav-menu ul li:hover ul {
    display: block;
    position: absolute;
    margin-top: 20px;
    
}

.nav-menu ul li ul li {
    display: block;
    background-color: rgb(235, 255, 255);
    font-weight: normal;
    
    color: black;
    padding: 5px;
    padding-right: 1px;
}

.nav-menu ul li ul li:hover:not(:nth-child(1)) {
    background-color: rgb(154, 206, 255);
    transition: 0.75s;
}

/*RESPONSIVE*/

@media screen and (max-width: 920px) {
    #lien-droite {
        padding-right: 0px;
    }

    #textlogo {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

}

@media screen and (max-width: 700px) {
    .navbar .lien-nav ul li {
        margin: 0 10px;
    }
    .nav-menu ul li:hover ul {
        right: 0;
    }

}